body {
  background-image: #090909 !important;

  background-size: 100%;
}

.btn-rosa {
  background-color: purple !important;
  color: whitesmoke !important;
  &:hover {
    background: rgb(71, 3, 73) !important;
  }
}

.contBloque {
  border-radius: 15px;
  border-width: 7px;
  border-style: solid;
  border-color: #631f5c;
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: whitesmoke !important;
  //margin: 5%;
  height: auto;
}

.colorFuente{
  color: #631f5c;
}

.contenEntrada {
  margin-bottom: 15px;
}

.fotoPerfil {
  width: 60%;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

.contLimite{
  max-width: 600px;
}
