.partida {
    border-radius: 15px;
  border-width: 7px;
  border-style: solid;
  border-color: #631f5c;
  
   background-color: rgba(255, 255, 255, 0.6) !important;

    max-width: 600px;
    height:  auto;

    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  .contBloque {
    width: 100%;
    height: 500px;
  
    border-radius: 50px;
  
    background-color: gray;
  }
  
  .opciones {
    background: grey;
    .opcion {
      cursor: pointer;
      &:hover {
        background: darkgray;
      }
    }
  }